<div class="userContainer">
    <div class="userPic">
      <!-- src = "{{user.photoUrl}}" -->
      <img src="">
    </div>
    <!-- {{user.name}} -->
    <div class="userName">Abdellah</div>
</div>
<div class="navigationContainer">
  <ul>
    <li [routerLink] = "'partie-pol'">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Link Name
    </li>
    <li [routerLink] = "'partie-pol'">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Link Name
    </li>
    <li [routerLink] = "'partie-pol'">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Link Name
    </li>
  </ul>
</div>
