<div class="userContainer">
    <div class="userPic"></div>
    <div class="userName"></div>
</div>
<div class="navigationContainer">
  <ul>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Link Name
    </li>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Link Name
    </li>
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Link Name
    </li>
  </ul>
</div>
